header {
    width: 100%;
    border-bottom: 0.15em solid gold;
        
    display: flex;
    
}
header h1 {
    width: 100%;
    text-align: center;
    padding-right: 5%;
}
header i {
    cursor: pointer;
    z-index: 999;
}
.nav-icon {
    
    font-size: 1.5em;
    display: flex;
    align-items: center;
    padding: 1em 1em;
    position: relative;
    
}
header .fa-times {
    font-size: 1.2em;
}
.nav-bar {
    position:absolute;
    background-color: gold;
    width: 350px;
    height: 100%;
    border-radius: 0 5% 5% 0;
    
}
.disactive {
    left: -350px;
    transition: all 0.3s ease-in-out;
}
.active {
    left: 0px;
    transition: all 0.3s ease-in-out;
}
ul{
    list-style: none;
    margin-top: 120px;
    padding: 0 15%;
    
    
}
.link-div {
    margin: 4% 0;
}
.link {
    text-decoration: none;
    color: black;
    font-weight:900;
    width: 100%;
    font-size: 110%;
    
    
    
}
header .fa-angle-double-right {
    margin-right: 4%;
    color: black;
}

